<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>My Great 205 Web Page</title>

    {{ bootstrap.load_css() }}

</head>
<body id = "broccoli">
    <div class="container">
        <div id = "urls">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('regions') }}">Regions</a><br>
        <a href="{{ url_for('zone1') }}">Zone 1</a>
        <a href="{{ url_for('zone2') }}">Zone 2</a>
        <a href="{{ url_for('zone3') }}">Zone 3</a>
        <a href="{{ url_for('zone4') }}">Zone 4</a>
    </div>
        <br>
        <h1>Broccoli</h1><br>
        <p><b>Water schedule</b><br>
        Broccoli requires proper irrigation to achieve optimum growth. Water plants daily for the first week to get the crop established. Continue to irrigate broccoli every four to five days, as needed, to keep the plants healthy.</p>
        <img width = "300" id = "broccoli" src = "/static/images/vegetables/broccoli.jpeg" alt = "broccoli" class = "center">
    </div>


</body>
<footer>
    <hr>
    CST205: Multimedia Design & Programming <br> Fall 2022 Final Project <br> Antonio Barron, Mursal Mousumi, Sebastian Santoyo
    <figure>
      <img src="/static/images/csumb_logo.png" alt="CSUMB logo" width=200 id="logoImg" class = "center">
    </figure>
  </footer>
</html>