#home{
    background-image: url("/static/images/garden.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: auto;
    padding: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#leaf{
    background-image: url("/static/images/leaf.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: auto;
    padding: 0px;
}

#urls{
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    margin: auto;
    padding: 5px;
}

h3{
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    margin: auto;
    padding: 5px;
}

p{
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    margin: auto;
    padding: 5px;
}

footer{
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    margin: 53px;
    padding: 5px;
}