<!-- # Course: CST205, Multimedia Design & Programming
# Abstract: Flask gardening website
# Authors: Antonio Barron, Mursal Mousumi, Sebastian Santoyo
# Date: December 16, 2022 -->
<!-- https://gilmour.com/planting-zones-hardiness-map#zone9  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>My Great 205 Web Page</title>
    
    {{ bootstrap.load_css() }}

</head>
<body id = "home">
  <div class="container">
      <div id = "urls">
        <a href="/">Home</a>
        <a href="{{ url_for('regions') }}">Regions</a><br>
        <a href="{{ url_for('zone1') }}">Zone 1</a>
        <a href="{{ url_for('zone2') }}">Zone 2</a>
        <a href="{{ url_for('zone3') }}">Zone 3</a>
        <a href="{{ url_for('zone4') }}">Zone 4</a>

        <a href="{{ url_for('zone5') }}">Zone 5</a>
        <a href="{{ url_for('zone6') }}">Zone 6</a>
        <a href="{{ url_for('zone7') }}">Zone 7</a>
        <a href="{{ url_for('zone8') }}">Zone 8</a>

        <a href="{{ url_for('zone9') }}">Zone 9</a>
        <a href="{{ url_for('zone10') }}">Zone 10</a>
        <a href="{{ url_for('zone11') }}">Zone 11</a>
        <a href="{{ url_for('zone12') }}">Zone 12</a>
      </div>
        <h3>Welcome to the home page of the gardening website</h3>
        <p>There are 12 Planting Zones in America. If you click on the Regions link above, it will take you to a page with information of the 12 Planting Zones. From there you can navigate to the individual Zone pages to find more information. There will be a list of vegetables and fruits that can be grown in the respective Zones. Within the pages, there will be links for more information on fruits and vegetables including a watering schedule.</p>


        <img width = "350" id = "vegetables" src = "/static/images/vegetables.jpeg" alt = "veggies">
        <img width = "400" id = "fruits" src = "/static/images/fruits.jpeg" alt = "fruit">
        <img width = "350" id = "herbs" src = "/static/images/herbs.jpeg" alt = "herb">
        <!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Planting Zones
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Zone 1</a></li>
              <li><a class="dropdown-item" href="#">Zone 2</a></li>
              <li><a class="dropdown-item" href="#">Zone 3</a></li>
            </ul>
        </div> -->
    </div>
</body>
<footer>
  <hr>
  CST205: Multimedia Design & Programming <br> Fall 2022 Final Project <br> Antonio Barron, Mursal Mousumi, Sebastian Santoyo
  <figure>
    <img src="/static/images/csumb_logo.png" alt="CSUMB logo" width=200 id="logoImg">
  </figure>
</footer>
</html>
