<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>My Great 205 Web Page</title>

    {{ bootstrap.load_css() }}

</head>
<body id = "leaf">
    <div class="container">
        <div id = "urls">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('regions') }}">Regions</a><br>
            <a href="{{ url_for('zone1') }}">Zone 1</a>
            <a href="{{ url_for('zone2') }}">Zone 2</a>
            <a href="{{ url_for('zone3') }}">Zone 3</a>
            <a href="{{ url_for('zone4') }}">Zone 4</a>
            
            <a href="{{ url_for('zone5') }}">Zone 5</a>
            <a href="{{ url_for('zone6') }}">Zone 6</a>
            <a href="{{ url_for('zone7') }}">Zone 7</a>
            <a href="{{ url_for('zone8') }}">Zone 8</a>            

            <a href="{{ url_for('zone9') }}">Zone 9</a>
            <a href="{{ url_for('zone10') }}">Zone 10</a>
            <a href="{{ url_for('zone11') }}">Zone 11</a>
            <a href="{{ url_for('zone12') }}">Zone 12</a>
        </div>
        <br>
        <p><b>Information on Planting Zone 2</b><br> Located in both Alaska and the continental United States, planting Zone 2 features extremely cold average minimum temperatures of between <b>-50 to -40 degrees F</b>. These temperatures can present a growing challenge to many gardeners. High winds and drought conditions are found in both the tundra and plains of Zone 2. Planting native plants, growing annuals and using creative planting techniques give gardeners a growing advantage.<br><br>
        <b>What plants can you grown in Zone 2?</b><br></p>
        <p><b>Vegetables</b><br>
        <a href="{{ url_for('vegTemp', veg = 'carrot') }}">Carrots</a>, 
        <a href="{{ url_for('vegTemp', veg = 'mustardGreen') }}">Mustard greens</a>, <a href="{{ url_for('vegTemp', veg = 'onion') }}">Onions</a>,
        Parsnips, Swiss chard</p>
        <p><b>Fruits</b><br>
        <a href="{{ url_for('fruTemp', fru = 'brookgoldPlum') }}">Brookgold plum</a>, 
        Fall Red apple, Fofonoff plum, Garrington Chokecherry, 
        <a href="{{ url_for('fruTemp', fru = 'koreanPine') }}">Korean pine</a>,
        Minnesota 1734 apple, 
        <a href="{{ url_for('fruTemp', fru = 'norkentApple') }}">Norkent Apple</a>, Parkland apple, Pembina plum</p>
        <p><b>Herbs</b><br>
        Hyssop, Juniper, Turkestan Rose</p>
    </div>


</body>
<footer>
    <hr>
    CST205: Multimedia Design & Programming <br> Fall 2022 Final Project <br> Antonio Barron, Mursal Mousumi, Sebastian Santoyo
    <figure>
      <img src="/static/images/csumb_logo.png" alt="CSUMB logo" width=200 id="logoImg">
    </figure>
  </footer>
</html>
