<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>My Great 205 Web Page</title>

    {{ bootstrap.load_css() }}

</head>
<body id = "leaf">
    <div class="container">
        <div id = "urls">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('regions') }}">Regions</a><br>
            <a href="{{ url_for('zone1') }}">Zone 1</a>
            <a href="{{ url_for('zone2') }}">Zone 2</a>
            <a href="{{ url_for('zone3') }}">Zone 3</a>
            <a href="{{ url_for('zone4') }}">Zone 4</a>
            
            <a href="{{ url_for('zone5') }}">Zone 5</a>
            <a href="{{ url_for('zone6') }}">Zone 6</a>
            <a href="{{ url_for('zone7') }}">Zone 7</a>
            <a href="{{ url_for('zone8') }}">Zone 8</a>            

            <a href="{{ url_for('zone9') }}">Zone 9</a>
            <a href="{{ url_for('zone10') }}">Zone 10</a>
            <a href="{{ url_for('zone11') }}">Zone 11</a>
            <a href="{{ url_for('zone12') }}">Zone 12</a>
        </div>
        <br>
        <p><b>Information on Planting Zone 4</b><br>Planting Zone 4 covers the southern coastal areas of Alaska, northern areas of the United States and high elevations found in the western mountains. These unique climates share minimum average temperatures of between <b>-30 to -20 degrees F</b>. Planting in this zone is less challenging than in colder zones, but the short growing season impacts both vegetables and flower bloom times.<br><br>
        <b>What plants can you grown in Zone 4?</b><br></p>
        <p><b>Vegetables</b><br>
        <a href="{{ url_for('vegTemp', veg = 'eggplant') }}">Eggplant</a>, 
        <a href="{{ url_for('vegTemp', veg = 'okra') }}">Okra</a>, 
        <a href="{{ url_for('vegTemp', veg = 'pumpkin') }}">Pumpkins</a>, 
        Melons</p>
        <p><b>Fruits</b><br>
        <a href="{{ url_for('fruTemp', fru = 'buartnut') }}">Buartnut</a>,
        <a href="{{ url_for('fruTemp', fru = 'ewingBluePlum') }}">Ewing Blue Plum</a>,
        <a href="{{ url_for('fruTemp', fru = 'novaPear') }}">Nova pear</a>,
        Alderman plum, Alexander apple, Butternut, Railroad apple, Summercrisp pear, Trent apple</p>
        <p><b>Herbs</b><br>
        Angelica, Bee balm, Garden sage, Lemon balm, Mountain Mint, Thyme, Winter savory</p>
    </div>


</body>
<footer>
    <hr>
    CST205: Multimedia Design & Programming <br> Fall 2022 Final Project <br> Antonio Barron, Mursal Mousumi, Sebastian Santoyo
    <figure>
      <img src="/static/images/csumb_logo.png" alt="CSUMB logo" width=200 id="logoImg">
    </figure>
  </footer>
</html>
