<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Great 205 Web Page</title>

    {{ bootstrap.load_css() }}

</head>
<body>
    <div class="container">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('regions') }}">Regions</a><br>
        <a href="{{ url_for('zone1') }}">Zone 1</a>
        <a href="{{ url_for('zone2') }}">Zone 2</a>
        <a href="{{ url_for('zone3') }}">Zone 3</a>
        <a href="{{ url_for('zone4') }}">Zone 4</a>

        <a href="{{ url_for('zone9') }}">Zone 9</a>
        <a href="{{ url_for('zone10') }}">Zone 10</a>
        <a href="{{ url_for('zone11') }}">Zone 11</a>
        <a href="{{ url_for('zone12') }}">Zone 12</a>
        <br><br>
        <p><b>Information on Planting Zone 11</b><br> USDA Plant Hardiness Zone 11 is found in Hawaii, the Florida Keys, Puerto Rico and a few small areas of the Continental United States.
             This extremely warm zone features mellow winters with an average minimum winter temperature of between 40 to 50 degrees F. Cold hardiness is not a factor in this zone, since it has zero frost days.
              Instead, growers here must consider the impact heat has on their planting choices.

        <br><br>
        <b>What plants can you grown in Zone 10?</b><br></p>
        <p><b>Vegetables</b><br>
        <a href="{{ url_for('vegTemp', veg = 'beet') }}">Beets</a>, 
        <a href="{{ url_for('vegTemp', veg = 'carrot') }}">Carrots</a>, 
        <a href="{{ url_for('vegTemp', veg = 'kale') }}">Kale</a>, 
        <a href="{{ url_for('vegTemp', veg = 'sweetPea') }}">Sweet Peas</a>, 
        <a href="{{ url_for('vegTemp', veg = 'swissChard') }}">Swiss Chard</a> 
        </p>
        <p><b>Fruits</b><br>
        <a href="{{ url_for('fruTemp', fru = 'jaboticaba') }}">Jaboticaba</a>, 
        <a href="{{ url_for('fruTemp', fru = 'macadamia') }}">Macadamia</a>, 
        <a href="{{ url_for('fruTemp', fru = 'mango') }}">Mango</a>, 
        <a href="{{ url_for('fruTemp', fru = 'natalPlum') }}">Natal Plum</a>, 
        <a href="{{ url_for('fruTemp', fru = 'seaGrape') }}">Sea Grape</a> 

        </p>
    </div>


</body>
</html>